body {
	background-color: #161616;
	color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
	font-family: Avenir;
	src: url(fonts/AvenirLTStd-Black.otf);
}

@font-face {
	font-family: Avenir thin;
	src: url(fonts/AvenirLTStd-Book.otf);
}

.timesNewRoman {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 700;
	font-size: 90px;
}

.roboto {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 22px;
}
.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
}

.italic {
	font-style: italic;
}

.avenir-thin {
	font-family: Avenir thin;
}

.avenir {
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	line-height: 25px;
}

.circle {
	border-radius: 25px;
}

.box-sm {
	width: 50px;
	height: 50px;
}
.box-lg {
	height: 200px;
}

.red {
	color: #af2e1c;
}

.filestyle {
	display: none;
}

.pointer {
	cursor: pointer;
}

.restricted {
	cursor: not-allowed !important;
}

.rounded {
	border-radius: 5px;
}

.status-orange {
	color: #f7941e !important;
}

.status-red {
	color: #ff0742 !important;
}

.status-green {
	color: #028f59 !important;
}

.btn-red {
	background-color: #af2e1c;
	color: #fff;
}

.react-pdf__Page__canvas {
	margin: 0 auto;
	width: 100% !important;
	height: 100% !important;
}

.w-10 {
	width: 10%;
}

.w-18 {
	width: 18%;
}

.w-30 {
	width: 30%;
}

.w-110 {
	width: 110%;
}

a {
	text-decoration: none;
}

/* Nav */

.nav {
	width: 100%;
	align-items: center;
	font-family: Avenir-thin;
}
.nav-item > p {
	margin-top: 15px;
}

.logo {
	width: 197.08px;
	height: 64.09px;
}

/* LANDING HOME */
.showcaseImg {
	width: 500px;
	height: 500px;
}

.landing-body-start {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-btn,
.register-btn {
	width: 211px;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
}

.login-btn {
	background-color: #f9f9f9;
}

.register-btn {
	background-color: #af2e1c;
	color: #fff;
}

.login-btn p,
.register-btn p {
	margin: auto;
}

/* MODAL */
.modal-content {
	width: 70%;
	margin: auto;
	background-color: #161616;
}
.modal-title {
	margin-top: 31px;
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	color: white;
}

.modal-input {
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 7px;
	color: white;
}

.modal-input::placeholder {
	color: #fff;
}

.modal-input input:focus::placeholder {
	color: transparent;
}

.modal-input label {
	margin-bottom: 10px;
	height: 33px;

	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 33px;
	color: #fff;
}

.modal-input input,
.modal-input select {
	width: 100%;
	height: 40px;
	margin: auto;

	background-color: #d2d2d240;
	border: 2px solid #bcbcbc;
	color: #fff;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 10px;
}
.absolute {
	position: relative;
}

.gender::after {
	position: absolute;
	right: 5px;
	bottom: 8px;
	width: 30px;
	content: url(./images/polygon2.png);
	background-color: #454545;
	font-weight: bold;
}

.modal-input input::placeholder {
	color: #fff;
}

.modal-input a {
	width: 285px;
	height: 25px;
	margin: auto;
	font-family: Avenir thin;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}

.modal-btn {
	margin: auto;
	border: none;
	width: 350px;
	height: 50px;
	background: #af2e1c;
	border-radius: 5px;

	font-style: normal;
	font-size: 24px;
	line-height: 29px;

	color: #ffffff;
}

.modal-header {
	border-bottom: 0 none;
}

.modal-footer {
	border-top: 0 none;
}

/* modal ends */

/* User Home */

.user-home {
	margin: auto;
	padding: 10%;
	align-items: center;
	justify-content: center;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='email']:focus,
.uneditable-input:focus {
	border-color: #bcbcbc;
	box-shadow: none;
	outline: 0 none;
}

.search-box {
	background-color: #d2d2d240;
	border: 2px solid #bcbcbc;
	border-radius: 5px;
	color: #fff;
}

.search-box::placeholder {
	color: #fff;
}

.input-group {
	border-radius: 5px !important;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
	> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.search-box:focus {
	background-color: #d2d2d240;
	outline: none;
	text-decoration: none;
	color: #fff;
}

.search-btn {
	width: 50px;
	height: 50px;

	background: #af2e1c;
	border: 2px solid #af2e1c;
	border-radius: 5px;
}

/* search literature */

option {
	color: #fff;
	background-color: rgb(39, 38, 38);
	border: 2px solid #bcbcbc;
}

.items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.item {
	width: 230px;
}

.pdf-preview img {
	height: 300px;
	border-radius: 10px;
	margin: 0;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
	position: relative;
}

.dropdown-menu::before {
	position: absolute;
	top: -12px;
	right: 13px;
	content: url(./images/triangle2.png);
	font-weight: bold;
	z-index: -9999;
}

.dropdown-item {
	display: flex;
	transition: all 0.3s ease;
	align-items: center;
	justify-content: center;
}

.dropdown-item p,
.dropdown-item img {
	margin: auto;
}

.no-data {
	position: relative;
	display: flex;
	align-items: center;
}

.no-data::after {
	position: absolute;
	top: 0;
	right: 300px;
	width: 250px;
	content: 'Not Found';
	font-family: Avenir thin;
	font-size: 72px;
	font-weight: bold;
}

.no-data img {
	align-items: center;
	justify-content: center;
	color: blue;
	margin: 0 auto !important;
}

/* detail literature */

.preview {
	position: relative;
}

.waiting {
	position: relative;
	opacity: 0.6;
}
.waiting::after {
	opacity: 1;
	top: 40%;
	right: 0;
	position: absolute;
	content: 'Waiting Approve';
	background-color: #f7941e;
	padding: 0 90px;
	font-weight: bold;
	font-size: 40px;
	color: #fff;
}

.Cancelled {
	position: relative;
	opacity: 0.6;
}

.Cancelled::after {
	opacity: 1;
	top: 45%;
	right: 0;
	position: absolute;
	content: '	CANCELLED';
	background-color: #af2e1c;
	margin: auto;
	padding: 0 60px;
	font-weight: bold;
	font-size: 40px;
	color: #fff;
}

.download-btn {
	font-family: Avenir thin;
	border: none;
	text-decoration: none;
	background-color: #af2e1c;
	color: #fff;
	padding: 10px 30px;
}

.my-collection-btn {
	font-family: Avenir thin;
	border: none;
	text-decoration: none;
	background-color: #af2e1c;
	color: #fff;
	padding: 10px;
	width: 220px;
}

.create-collection-btn {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #af2e1c;
	color: #fff;
}

.edit-btn,
.done-btn {
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 5px;
	margin: 20px 0;
	color: #fff;
}

.edit-btn {
	background-color: #af2e1c;
}

.done-btn {
	background-color: #1caf54;
}

.opacity {
	opacity: 0.8;
}

.delete-btn {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-color: #dd3c27;
	position: absolute;
	top: 5px;
	right: 69px;
	outline: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* detail end */

/* PROFILE */

.profile-card {
	margin: auto;
	background: #252525;
	box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.08);
	border-radius: 8px;
}

.profile-card-container {
	width: 95%;
	margin: auto;
}

.personal-info h1 {
	margin-bottom: 53px;
}

.profile-image {
	display: flex;
	flex-direction: column;
}

.profile-image img {
	width: 226.67px;
	height: 202px;
	object-fit: cover;
}

.p-info-card img {
	width: 36px;
}

.p-info-card-text h5 {
	font-size: 14px;
}

.change-profile-btn {
	margin: 14px 0;
	background: #af2e1c;
	text-align: center;
	align-items: center;
	padding: 10px 35px;
	border-radius: 5px;
	color: white !important;
	border: transparent 1px solid;
}

.p-info-card input {
	padding: 0;
	padding-left: 12px;
	background-color: #d2d2d240;
	border: 2px solid #bcbcbc;
	border-radius: 5px;
	color: #fff;
	font-size: 18px !important;
}

.nav-tabs {
	border: none;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: #fff;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
	font-family: Avenir thin !important;
}

.nav-tabs .nav-link {
	margin-bottom: -1px;
	background: 0 0;
	border: none !important;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: transparent;
	color: #af2e1c;
}

.nav-tabs .nav-link:hover {
	isolation: isolate;
	color: #af2d1c86;
	border: 2px solid #af2e1c;
}

/* Add Literature */
.add-literature {
	color: #fff !important;
}

.add-literature input {
	background: #d2d2d240;
	border: 2px solid #bcbcbc;
	color: #fff !important;
	padding: 12px;
	margin-bottom: 31px;
}
.add-literature input[type='date']::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.add-literature input::placeholder {
	color: #fff;
}

.add-literature input:focus::placeholder {
	color: transparent;
}

.relative {
	position: relative;
}

.author-label {
	position: absolute;
	top: 14px;
	left: 14px;
}

.attach-btn {
	width: 312px;
	height: 49px;
	color: #fff;

	background: #d2d2d240;
	border: 2px solid #b1b1b1;
	box-sizing: border-box;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.pdf-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-btn {
	background: #ee4622;
	color: #fff;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 30px 0;
}
/* verification */

.status {
	border: none;
	border-radius: 5px;
	padding: 5px 10px !important;
	background-color: #161616;
	color: #fff;
}

.verification-tbl {
	height: 40%;
	background-color: #f4f4f4;
	margin-bottom: 91px;
}

.verification-tbl td {
	color: #000000;
}

.verif-body {
	min-height: 86vh;
	background-color: #e5e5e5 !important;
	color: #000;
}

.verification-tbl tr:nth-child(odd) {
	background-color: #fff;
}

.verification-tbl th,
td {
	padding: 16px 0;
	padding-left: 8px;
}

.center {
	align-items: center;
	justify-content: center;
}

.buttons {
	width: 25%;
	align-items: center;
	justify-content: center;
}

.verif-button {
	width: 100px;
	height: 35px;
	border: none;
	outline: none;
	text-decoration: none;
}
